header{
    font-size: 1em;
}

/*Navigation section*/

header nav{
 display: flex;
 justify-content: space-between;
 padding: 10px 15px;
 font-size: 1em;
}

header nav .nav-right{
 display: flex;
 align-items: center;
}

header nav .nav-right a{
    color: #444;
    font-size: 1.1em;
    padding: 5px 10px;
    margin: 0px 5px;

}

header nav .nav-left .register-login-btn{
    padding: 5px 8px;
    border: 1px solid #666;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

header nav .nav-left .register-login-btn i{
    margin: 7px;
    color: #444;
    font-size: 1.1em;

}

header nav .nav-left .register-login-btn a{
    color : #444;
    margin: 0px 10px;
    padding-top: 5px;
   font-size: 0.9em;
}

/*slider section*/

.slider {
    position: relative;
    font-size: 1em;
}

.slider .slides .item{
    position: relative;
    display: none;
}

.slider .slides .item img{
    width: 100%;

}

.slider .slides .item span{
    position: absolute;
    right: 10%;
    top: 40%;
    color: #444;
    font-size: 1.5em;
}

.slider .slides .active{
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.slider .buttons{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .buttons i{
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.slider .buttons i:hover{
    color: rgba(255, 255, 255, 0.4);
}

/*product section*/

.home-page-product-sec{
    padding: 20px 10px;
    font-size: 1em;
}
.shopping-card{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px;

}
.shopping-card .image-section{
    position: relative;
}
.shopping-card .image-section img{
    width: 60%;
}
.shopping-card .image-section .hot-offer{
    position: absolute;
    font-size: 0.9em;
    color: white;
    background-color: #e74c3c;
    padding: 3px 5px;
    border-radius: 5px;
    right: 10px;
    top: 10px;
}
.shopping-card .image-section .stars{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #f1c40f;
}
.shopping-card .title-shoping-card{
    color: #333;
    margin: 15px;
}
.shopping-card .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.shopping-card .buttons .price{
    color: #666;
    font-weight: bold;
}
.shopping-card .buttons .left{
    display: flex;

}
.extend-btn{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #33d9b2;
    width: 40px;
    padding: 8px 12px 2px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: .75s;
}
.extend-btn:hover{
    width: 100px;
}
.extend-btn .b-text{
    display: none;
    color: white;
}
.extend-btn:hover .b-text{
    display: block;
}
.extend-btn .b-icon{
    color: white;
    padding-top: 3px;
}

/*supper offer section*/

.supper-offer-section{
    padding: 20px;
    font-size: 1em;
}

.supper-offer-box{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin: 0px 10px;

}

.supper-offer-box .title-offer{
    background-color: #e74c3c;
    color: white;
    padding: 8px 30px;
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.supper-offer-box .body .image-container{
    text-align: center;
    padding: 30px;
}

.supper-offer-box .body .image-container img{
    width: 100%;
}

.supper-offer-box .body .specification{
    padding: 30px 5px;
}

.supper-offer-box .body .specification .price-row{
    display: flex;
    justify-content: center;
    align-items: center;

}

.supper-offer-box .body .specification .price-row .price{
    margin-left: 60px;
    color: #444;
    font-size: 1.2em;
}

.supper-offer-box .body .specification .price-row .off{
    color: white;
    background-color: #e74c3c;
    padding: 5px 20px;
    border-radius: 25px;
}

.supper-offer-box .body .specification .title{
    margin: 40px 0px;
    font-weight: bold;
    font-size: 1.4em;
    color: #444;
}

.supper-offer-box .body .specification .counter-down{
    border-top: 1px solid rgba(0, 0, 0, .4);
    margin: 10px 40px;
    padding-top: 20px;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
}

.supper-offer-box .body .specification .remaining-time{
    color: #777;
    font-size: .8em;
}

.banner{
    text-align: center;
    padding: 0px 5px;
}
.banner img{
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    width: 75%;
}

.dragable-product-list img{
    width: 70% !important;
    margin: auto;
}

.owl-stage-outer{
    direction: ltr;
}

.dragable-product-list .title{
    padding: 0px 20px 20px;
}

.dragable-product-list .title span{
    font-size: 1.2em;
    color: #444;
    border-bottom: 1.5px solid #e74c3c;
}